#Pytest folders
.pytest_cache/
src/__pycache__/
#VS code
.vscode/
#Martin's scripts
src/fillData
src/profile
#Doxygen folder
*/html/
html/
#Installer
CubiCulator_v1-2_setup.exe
*/CubiCulator_v1-2_setup.exe
#Packed archive

#Other
mockup.ui
