#Pytest folders
.pytest_cache/
src/__pycache__/
#VS code
.vscode/
#Martin's scripts
src/fillData
src/profile
#Doxygen folder
*/html/
html/
#Packed archive
xkucha30_xmasek19_xpolom00_xzelen27.zip
*/xkucha30_xmasek19_xpolom00_xzelen27.zip
#Other
mockup.ui
